In [2]:
import os
import json
import pandas as pd
import matplotlib as plt

In [7]:
file_to_load = 'outputs/2018_fires'
pd.set_option('mode.chained_assignment', None)
# Read Purchasing File and store into Pandas data frame
fire18_df = pd.read_csv(file_to_load)
fire18_df

,Unnamed: 0,Name,Acres Burned,Latitude,Longitude,Fire Started,Fire Extinguished
0,0,Aqueduct Fire,30.0,35.924360,-119.940830,2018-04-12,2019-01-03
1,1,Montecito Flooding / Mudflows,0.0,0.000000,0.000000,2018-01-09,2019-01-03
2,2,Haycamp Fire,50.0,35.966890,-121.281850,2018-02-07,2019-01-03
3,3,Pleasant Fire,2070.0,37.402080,-118.502350,2018-02-18,2019-01-03
4,4,Wilcox Fire,33.0,0.000000,0.000000,2018-02-18,2019-01-03
...,...,...,...,...,...,...,...
305,305,Sierra Fire,147.0,34.180750,-117.431840,2018-11-13,2019-01-04
306,306,Niles Fire,20.0,37.611580,-121.941820,2018-11-14,2019-01-04
307,307,Briggs Fire,150.0,34.301667,-119.099167,2018-11-15,2019-01-04
308,308,Peak Fire,186.0,34.267348,-118.643816,2018-11-12,2019-01-04
309,309,Bear Fire,10.0,37.128570,-122.120360,2018-11-16,2019-01-04

In [20]:
file_to_load = 'outputs/2015_fires'
pd.set_option('mode.chained_assignment', None)
# Read Purchasing File and store into Pandas data frame
fire15_df = pd.read_csv(file_to_load)
fire15_df.head(40)

,Unnamed: 0,Name,Counties,Acres Burned,Latitude,Longitude,Fire Started,Fire Extinguished
0,0,Stephens Fire,Siskiyou,200,41.485000,-121.851000,2015-02-24,2015-03-02
1,1,Round Fire,"Inyo, Mono","7,000",0.000000,0.000000,2015-02-06,2015-02-12
2,2,Van Dyke Fire,Mono,509,0.000000,0.000000,2015-02-06,2015-02-20
3,3,Otay Fire,San Diego,80,32.644916,-116.945439,2015-06-26,2015-06-26
4,4,Ward Fire,Plumas,137,40.050833,-120.701667,2015-04-13,2015-04-18
5,5,Highway Fire,Riverside,"1,049",33.884313,-117.642759,2015-04-18,2015-04-24
6,6,Forebay Fire,Merced,275,37.083120,-121.069630,2015-05-11,2015-05-11
7,7,Christensen Fire,Alameda,242,0.000000,0.000000,2015-05-28,2015-05-28
8,8,Harrison Fire,Riverside,80,0.000000,0.000000,2015-06-01,2015-06-05
9,9,Site Fire,Alameda,300,0.000000,0.000000,2015-06-05,2015-06-06
10,10,Snow Fire,Riverside,25,0.000000,0.000000,2015-06-05,2015-06-05
11,11,Oasis Fire,Lake,25,0.000000,0.000000,2015-06-05,2015-06-06
12,12,FKU Lightning Fires,Fresno,45,0.000000,0.000000,2015-06-05,2015-06-06
13,13,Fox Fire,Mariposa,25,0.000000,0.000000,2015-06-07,2015-06-09
14,14,Riosa Fire,Placer,110,0.000000,0.000000,2015-06-08,2015-06-08
15,15,Garage Fire,Napa,36,0.000000,0.000000,2015-06-09,2015-06-10
16,16,Bald Fire,Humboldt,20,41.151300,-123.829200,2015-06-10,2015-06-11
17,17,Saddle Fire,Trinity,"1,542",40.924000,-123.168000,2015-06-10,2015-06-29
18,18,Pass Fire,Kern,67,35.779370,-120.194820,2015-06-15,2015-06-15
19,19,Chiles Fire,Napa,38,38.528700,-122.341500,2015-06-16,2015-06-17
20,20,North Fire,Amador,60,38.260777,-121.135426,2015-06-16,2015-06-17
21,21,Fork Fire,Tehama,55,40.013300,-122.552000,2015-06-17,2015-06-17
22,22,Wildcat Fire,San Diego,171,32.942100,-116.853400,2015-06-17,2015-06-19
23,23,Lake Fire,San Bernardino,"31,359",34.160278,-116.892778,2015-06-17,2015-08-01
24,24,Triangle Fire,Mariposa,60,0.000000,0.000000,2015-06-18,2015-06-19
25,25,Collier Fire,San Joaquin,122,0.000000,0.000000,2015-06-18,2015-06-18
26,26,Cook Fire,Yuba,158,39.268800,-121.264710,2015-06-18,2015-06-22
27,27,Grapefruit Fire,Riverside,60,0.000000,0.000000,2015-06-18,2015-06-21
28,28,Sky Fire,Madera,500,0.000000,0.000000,2015-06-18,2015-06-19
29,29,Corrine Fire,Madera,920,37.165767,-119.523943,2015-06-18,2015-06-25
30,30,Red Fire,Madera,135,37.072561,-119.695800,2015-06-21,2015-06-23
31,31,Dixie Fire,Lassen,60,40.875667,-121.033667,2015-06-19,2019-07-01
32,32,Loma Fire,NaN,533,37.974123,-121.833751,2015-06-24,2015-06-25
33,33,Park Hill Fire,San Luis Obispo,"1,791",0.000000,0.000000,2015-06-20,2015-06-24
34,34,Tesla Fire,Alameda,53,0.000000,0.000000,2015-06-25,2015-06-25
35,35,River Fire,Ventura,164,0.000000,0.000000,2015-06-22,2015-06-25
36,36,Washington Fire,Alpine,0,38.598056,-119.751944,2015-06-19,2015-06-22
37,37,Calgrove Fire,Los Angeles,415,34.361007,-118.535793,2015-06-24,2015-06-26
38,38,Sterling Fire,San Bernardino,100,34.165974,-117.243878,2015-06-25,2015-06-29
39,39,Pleasure Fire,Napa,19,38.519132,-122.181878,2015-06-27,2015-06-28

In [9]:
file_to_load = 'outputs/2013_fires'
pd.set_option('mode.chained_assignment', None)
# Read Purchasing File and store into Pandas data frame
fire13_df = pd.read_csv(file_to_load)
fire13_df

,Unnamed: 0,Name,Acres Burned,Latitude,Longitude,Fire Started,Fire Extinguished
0,0,Becks Fire,296.0,0.000000,0.000000,2013-01-22,2013-01-23
1,1,River Fire,406.0,36.602575,-118.016510,2013-02-24,2013-02-28
2,2,Jurupa Fire,311.0,0.000000,0.000000,2013-02-28,2013-03-02
3,3,Butte Fire,80.0,0.000000,0.000000,2013-04-09,2013-04-09
4,4,Fawnskin Fire,30.0,34.288877,-116.941311,2013-04-20,2013-04-22
...,...,...,...,...,...,...,...
154,154,Dam Fire,23.0,38.928900,-122.581800,2013-11-23,2013-11-24
155,155,Happy Camp Fire,44.0,0.000000,0.000000,2013-12-10,2013-12-11
156,156,Pfeiffer Fire,917.0,0.000000,0.000000,2013-12-16,2013-12-20
157,157,Refuse Fire,15.0,0.000000,0.000000,2013-12-30,2013-12-30
158,158,Grant Fire,40.0,37.342186,-121.717706,2013-12-31,2013-12-31

In [10]:
fire18_df['Acres Burned'].sum()

1618033.0

In [26]:
fire15_df['Acres Burned'].sum()

'2007,000509801371,049275242803002525452511036201,5426738605517131,3596012215860500920135605331,7915316404151001935211421117535515045253517023150401854952143214181251004,2501,3332006025430248,051267511677167251,4502,3041585,70211440166,98040069,438752122041121959086504,88336,50305432824,86377,0817552653029,416597,50930,36122710,5705511025,1181,8501863,6763002,4463741462,700221676921555128673723010811035454017070,8682154151,0421092976,067104151,6231,38850860583667021301,08695'

In [23]:
fire13_df['Acres Burned'].sum()

523966.0